*{
    margin: 0px;
    padding: 0px;

}
body{
    font-family:'Rubik', sans-serif;
    color: red;
/* border: 3px solid black; */
background-color:rgba(49, 47, 47, 0.103)
}

h1{
    color: red;
    /* border: 2px solid white; */
    text-align: center;
    margin-top: 47px;
    font-size: 40px;
    font-weight: bolder;
    /* background-color: black; */
    font-family:'Artifika', serif;
}
#id{
    margin:15px auto 0px auto;
    width: 30%;
   padding: 50px;
    text-align: center;
    border: 6px solid red;
   
    border-radius: 8px;
    background-color:rgba(49, 47, 47, 0.103);
}
.input{
    display: inline-block;

}
.fit{
    padding: 8px 12px;
    margin: 11px;
    border-radius: 7px;
    text-align: center;
    font-weight: bolder;
    width: 140px;
    font-size: 25px;
}

label{
    font-size: 26px;
    font-weight: bold;
}